body {
    display: flex;
    flex-direction: column; 
    margin: 0;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    background-color: rgba(0, 0, 0, 0.856);
}

button:hover{
    cursor: pointer;
}

h1{
    font-size: 2.25em;
}

#intro{
    font-style: italic;
    font-size: 0.75em;
    margin-bottom: 3.5em;
}

.total{
    font-size: 1.5em;
}

#game-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 2em;
    margin: auto;
    padding: 20px;
}

#click-button {
    width: 300px;
    height: 450px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid rgb(68, 77, 201);
    border-radius: 10px;
    background-image: url('./img/wakzCalecon.png');
    background-size: cover;
    background-position: center;
}


#buttons-container {
    font-size: 0.95em;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-container {
    margin: 10px;
    width: 250px;
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    background-color: rgba(124, 178, 240, 0.308);
}

.button-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.button-container button {
    padding: 10px 15px;
    font-size: 0.75em;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90%;
}

.button-container button:enabled {
    background-color: #007bff;
}

.button-container button:disabled {
    background-color: #ccc;
    color: black
}

.button-container button:hover:enabled {
    background-color: #0056b3;
}

.resizing {
    font-size: 0.75em;
}

.click-effect {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.button-image {
    width: 75px;   
    height: auto;
    margin-top: 3px;
    border-radius: 50%;
}

.click-count{
    margin-bottom: -5px;
    margin-top: -5px;
}

#mute-button{
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    border: 2px blue solid;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

#score{
    background-color: #77b2f19f;
    padding: 5px;
    border-radius: 5px;
}

#click-part {
    position: fixed; 
    left: 2.5em; 
    top: 5.4em;
    width: 30%; 
    height: 80vh; 
    overflow: hidden;
    overflow: auto; 
    border-radius: 15px;
    background-color: rgba(160, 193, 231, 0.274);
    border: 1px solid rgba(104, 167, 240, 0.308);
}


.patch{
    font-size: 0.75em;
    width: 8em;
    text-align: center;
    background-color: rgba(160, 193, 231, 0.274);
    margin-left: 2.5em;
    border-radius: 10px;
    height: 1.5em;
    color: white;
    border: none
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 50vh;
    width: 70vw;
    transform: translate(-50%, -50%);
    background-color: rgb(176, 201, 230);
    border: 3px solid rgb(87, 87, 240);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1000;
    text-align: justify;
    color: darkblue;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 999; 
}

.popup button {
    margin: auto;
    background-color: rgba(51, 39, 39, 0.616);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px;
    margin-top: 2em;
}

#buy-part{
    width: 60%; 
    overflow-y: auto; 
    margin-left: 33%;
    margin-top: 2.5em;
    height: 92vh;
    border: 1px solid rgba(104, 167, 240, 0.308);
    border-radius: 15px;
    background-color: rgba(160, 193, 231, 0.274);
}

#btn-and-reset{
    display: flex;
    flex-direction: column;
    width: 10em;
    margin: auto;
    align-items: center;
}

#reset-button{
    margin-top: 2em;
    background-color: rgb(221, 126, 126);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(87, 87, 240);
}

@media only screen and (max-width: 600px) {

    h1{
        font-size: 1.5em;
    }

    p{
        font-size: 0.75em;
    }

    #game-container {
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }


    #click-button{
        height: 200px;
        width: 100%;
    }

    #click-part {
        position: relative;
        width: 95%;
        margin: auto;
        top: auto;
        left: auto;
        height: 50vh;
    }

    #buy-part {
        width: 95%;
        margin-left: 0;
        margin-top: 0em;
    }

    #mute-button {
        margin-top: 0.1em;
        margin-left: -5.5em;
    }

    .total{
        font-size: 1em;
    }

    #intro{
        display: none;
    }

    #reset-button{
        margin-top: 0.5em;
        font-size: 0.75em;
    }

    .button-container{
        height: 152px;
    }

    .button-container span{
        font-size: 0.8em;
    }

    .button-image{
        width: 50px;
    }

    .button-container button{
        padding: 5px;
    }
}